@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DB_v4";
  src: url("./assets/fonts/DB_v4.woff2") format("woff2"),
    url("./assets/fonts/DB_v4.woff") format("woff");
}

@font-face {
  font-family: "DB_Med";
  src: url("./assets/fonts/DB_Med_v4.woff2") format("woff2"),
    url("./assets/fonts/DB_Med_v4.woff") format("woff");
}
